* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #24252A;
    color: #fff;
}

p,
nav,
button {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 20px;
}

li {
    display: inline-block;
    padding: 7px 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

li:hover {
    background-color: #c7b5f7;
    border-radius: 20px;
}

button {
    padding: 7px 5px;
    background-color: rgb(0, 136, 169, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
    border: none;
}

button:hover {
    background-color: rgb(0, 136, 169, 0.8);
}

a {
    text-decoration: none;
}

.centrado {
    width: 800px;
    height: 800px;
}

.in {
    margin-top: 20px;
    width: 600px;
    height: 500px;
    border-radius: 5%;
    padding-left: 1em;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 180px;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 3%;
}

div.desc {
    padding: 15px;
    text-align: left;
}

.centrado {
    height: 1600px;
    width: 1200px;
    max-width: 1200px;
    margin: 0 10em;
}

.color {
    padding: 7px 5px;
    background-color: rgb(170, 211, 221);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
    border: none;
}

.slider {
    width: 600px;
    height: 700px;
    margin: auto;
    overflow: hidden;
    width: 750px;
    height: 1200px;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 75%;
    width: 730px;
    height: 390px;
    border-radius: 5%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.lado {
    height: 400px;
    width: 200px;
    border-radius: 10%;
    float: right;
    margin-right: 12em;
    margin-top: -30em;
}

.nose {
    background-color: #48484b;
    width: 200px;
    height: 80px;
    border-radius: 10%;
}

.nose img {
    width: 75px;
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20%;
    text-align: left;
}

.nose p {
    color: white;
    font-size: 10px;
    background-color: #48484b;
    margin: 2px 0px 6px 95px;
    margin-top: -5em;
}

.noticia {
    background-color: white;
    width: 450px;
    height: 300px;
    border-radius: 2.5%;
}

.noticia img {
    width: 450px;
    height: 300px;
    border-radius: 2.5%;
}

footer {
    float: left;
    background-color: #202025;
    width: 1350px;
    height: 200px;
    margin-top: 2em;
}

.hhh {
    margin-top: 4em;
}

.hhh p {
    font-size: 12px;
    color: black;
}

.hhh h3 {
    color: white;
}